* {
    box-sizing: border-box;
}
body{
    background-color: #282A36;
    color: white;
    font-family: 'Segoe UI';
    /* overflow:hidden; */
}
table, th, td {
    border: 1px solid #fff;
    border-collapse: collapse;
    text-align: left;
    padding: 10px;
}
a {
    color: gray;  
    text-decoration:none;
}

a:hover {
    color: rgb(84, 73, 202);
}

div {
    padding: 20px;
}

/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    color: #282A36;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    height: 95%;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Container around content */
.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* .content > h2 {
    color: gray;
}

.content > h2:hover {
    color: rgb(84, 73, 202);
} */

/* The circles on the timeline */
.container::after {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    right: -13.5px;
    background-color: lightblue;
    border: 4px solid rgb(84, 73, 202);
    top: 18px;
    border-radius: 25%;
    z-index: 1;
}
/* .container:hover::after {
    background-color: rgb(84, 73, 202);
} */

/* Place the container to the left */
.left {
    left: 0;
}

/* Place the container to the right */
.right {
    left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
    left: -16px;
}

/* The actual content */
.content {
    padding: 10px 20px;
    background-color: white;
    position: relative;
    border-radius: 6px;
    /* border-color: #282A36; */
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
/* Place the timelime to the left */
    .timeline::after {
        left: 31px;
    }

    /* Full-width containers */
    .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    /* Make sure that all arrows are pointing leftwards */
    .container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    /* Make sure all circles are at the same spot */
    .left::after, .right::after {
        left: 15px;
    }

    /* Make all right containers behave like the left ones */
    .right {
        left: 0%;
    }
}

.date {
    position: absolute;
    top: 31px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #fff; /* Adjust color as needed */
    font-weight: bold;
}

.year3 {
    right: -19%; /* Adjust the distance from the circle */
}

.year4 {
    right: -21%; /* Adjust the distance from the circle */
}

.yearm {
    right: -31.5%;
}

.big{
    font-size:2em;
    z-index:11;
}
#mm{
    height:100%;
    width:100%;
}
#svg2{
    height:100vw;
    width:100vw;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    position:absolute;
    max-width: 200vh;
}
.mainMenu{
    position:absolute;
    top:50%;
    left:50%;
    width:100%;
    transform:translate(-50%,-50%);
    background-color:rgb(79, 195, 247);
    
}
.inactive{
    fill:#f2f2f2;
    fill-rule:evenodd;
    stroke:#1EF575/*rgb(40, 240, 40)*/;
}

.inactive:hover{
    fill:#00EB5F/*rgb(0,200,0)*/;
}
.active{
    fill:rgb(0,200,0);
    fill-rule:evenodd;
}
.active:hover{
    fill:rgb(249,195,79);
    fill-rule:evenodd;
    cursor:pointer;
}


/*tooltip*/
#tooltip {
    background: #1835E9;
    color:white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    text-align:center;
}



/*toggle*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    z-index:10;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #1835E9;
}

input:focus + .slider {
    box-shadow: 0 0 1px #1835E9;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}